
html,body{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: #ddd;
   overflow:hidden;
   font-family: "Lato";
}

.container .heading h1{
    position: fixed;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    font-size:90px;
    margin:auto;
    white-space: nowrap;
   
}
.container .heading  span{
    text-decoration:underline;
    padding:0px,5px;
    font-family: "Lobster";
}
.container .heading h3{
    position: fixed;
    top:40%;
    left:50%;
    transform: translateX(-50%);
    font-size:40px;
    text-align: center;
    width:55%;
    line-height: 1.75;
}
.container .heading h4{
    position: fixed;
    top:75%;
    left:50%;
    transform: translateX(-50%);
    font-size:60px;
    text-align: center;
    width:55%;
}
footer{
    font-size: 15px;
    position: absolute;
    bottom:0;
    left:11%;
}
.logo img{
    position: relative;
    right:-60%;
    height: 125px;
    padding:10px;
}
#OpenMRS{
    position: absolute;
    left:0;
}
.logo{
    position: absolute;
    left:0;
    right:0;
    background-color: #fff;
}
